#titulo {
    font-style:italic;
    font-size: 300%;
    display: grid;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;

}

#titulodos {
    font-style:italic;
    font-size: 150%;
    display: grid;
}




.wrapUno {
    height: 50rem;
    width: 63.4rem;
    align-items: center;
    background: url(trekking.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    justify-content: center;
}   

.wrapDos {
    height: 50rem;
    width: 63.4rem;
    display: flex;
    align-items: center;
    background: url(natacion.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    justify-content: center;

}


.wrapTres {
    height: 50rem;
    width: 63.4rem;
    display: flex;
    align-items: center;
    background: url(ferry.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    justify-content: center;

}

.textwrap {
   text-align: center;
   font-size: 200%;
}

h2 {
    font-size: 300%;
    text-align: center;
}

.icono {
    align-content: center;
}

p {
    font-size: 150%;
    text-align: center;
}


#select {
  display: grid;
  font-size: 150%;
}

#textotrekkingUno {
    font-size: x-large;
}

#textotrekkingDos {
    font-size: x-large;
    color: blue;
}

#textotrekkingTres {
    font-size: medium;
}

#textonatacionUno {
    font-size: x-large;
}

#textonatacionDos {
    font-size: x-large;
    color: blue;
}

#textoferryUno {
    font-size: x-large;
}

#textoferryDos {
    font-size: x-large;
    color: blue;
}
